:root {
	--color-primary: #333;
	--color-primary-light: rgb(173, 171, 171);
	--color-secondary: teal;
	--color-secondary-light: rgb(168, 219, 219);
	--color-highlight: gold;
	--color-error: orangered;
	--content-width: 80vw;
	--border-radius: 0.3rem;
	--glow-color: yellow;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html {
	font-size: 100%;
}

body {
	font-size: 1rem;
	color: var(--color-primary);
	font-family: sans-serif;
	line-height: 1.2rem;
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('../img/background.jpg') no-repeat center center/cover;
}

.container__main {
	position: relative;
	height: 100vh;
	bottom: 0;
	width: 100%;
}

.sliders {
	height: 100%;
	width: var(--content-width);
	position: relative;
	overflow: hidden;
}

.slide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 1s;
}

.slider__btn--left {
	left: 3%;
	transform: translate(-50%, -50%);
}

.slider__btn--right {
	right: 3%;
	transform: translate(50%, -50%);
}

.slider__btn {
	position: absolute;
	top: 45%;
	z-index: 10;
	border: none;
	background: rgba(255, 255, 255, 0.7);
	font-family: inherit;
	color: #333;
	border-radius: 50%;
	height: 5.5rem;
	width: 5.5rem;
	font-size: 3.25rem;
	cursor: pointer;
}

/* General format for each section */
.section {
	box-shadow: 0 0 0.25rem;
	background-color: #fff;
	border-radius: var(--border-radius);
	text-align: center;
	padding: 5rem 0;
	width: 90%
}

h2 {
	font-size: 2rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	text-align: center;
}

.error {
	outline: 1px solid var(--color-error);
}

.passed {
	background-color: var(--color-secondary);
}

.active {
	border-bottom: 0.2rem var(--color-secondary-light) solid;
}


/* navbar */
.nav {
	top: 0;
	width: 100vw;
	z-index: 1;
	background-color: var(--color-primary);
	color: #fff;
	opacity: 0.7;
	height: 7vh;
}

.nav h1,
.nav ul {
	margin-bottom: 0;
	padding: 1rem 1rem;
}

.container__navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 100%;
	width: var(--content-width)
}

.container__navbar a {
	color: #fff;
	padding: 0.5rem 0.5rem;
}

.nav__links {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	height: 100%;
	font-size: 1.2rem;
}

.nav__link {
	padding-right: 0;
}



/* ======== */
/* About Me */
/* ======== */
.about-me {
	width: 70%
}


.familyName {
	color: teal;
}

.statement {
	margin: 1rem auto 3rem auto;
}

.bi {
	font-size: 3rem;
	color: grey;
	border-radius: 50%;
	transition: all 0.5s ease-out;
}

.bi:hover {
	font-size: 3rem;
	color: var(--color-secondary);
	transform: translateY(-10px);
	cursor: pointer;
}

.contactWeb:hover {
	transform: translateY(-0.3rem);
	transition: all 0.5s ease-out;
}

.contact-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 2rem;
}

/* ========= */
/* Education */
/* ========= */
.education {
	width: 70%;
}

.card {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

/* Changing color effect */
.card {
	border: 0;
	border-radius: 3rem var(--border-radius);
	padding: 2rem 0;
	color: #fff;
	background-color: lightgrey;
	background: linear-gradient(to left, lightgrey 50%, teal 50%);
	background-size: 200%;
	background-position: right;
	transition: background-position 0.5s ease-out;
}

.card:hover {
	background-position: left;
}

.card-icon {
	margin: 0 1em;
}

.card-icon i {
	font-size: 2rem;
}

.card-title {
	font-size: 1rem;
	font-weight: 800;
	margin: 1rem 0;
}

.card-text {
	text-align: center;
	font-size: 1rem;
	line-height: 1.2rem;
}

/* ========= */
/* Expertise */
/* ========= */
.expertise {
	height: 90%;
	width: 80%;
	padding: 0;
}

.expertise_img {
	width: auto;
	height: 100%;
	background: url('../img/expertise_grey.png') no-repeat center/contain;
	transition: all 1s ease-out;
}

.expertise_img:hover {
	background-image: url('../img/expertise_teal.png');
}

/* Footer */
footer {
	width: 100%;
	opacity: 80%;
}

.container__footer {
	background-color: var(--color-primary);
	color: #fff;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1rem;
}

.footer__links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


@media (max-width: 990px) {
	.nav {
		height: auto;
	}

	.active {
		border-bottom: none;
		background: var(--color-secondary);
	}

	.container__navbar {
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		row-gap: 0.5rem;
		margin-bottom: 2rem;
		width: var(--content-width);
		margin: 0 auto;

	}

	.nav__name {
		padding: 0;
		margin: 0;
	}

	.nav__links {
		flex-direction: column;
		row-gap: .7rem;
		justify-content: space-between;
		align-items: center;
	}

	.nav h1,
	ul {
		padding: 0;
	}

	.contact-icons {
		column-gap: 2rem;
	}

	.section {
		width: 100%;
	}

	.about-me {
		/* height: 70%; */
		width: 80%;
		height: 70%;
		padding-left: 2rem;
		padding-right: 2rem;
		/* display: flex;
		flex-direction: column;
		align-items: center; */
	}

	.expertise {
		height: 70%;
	}
}