:root {
	--color-primary: #333;
	--color-primary-light: rgb(173, 171, 171);
	--color-secondary: teal;
	--color-secondary-light: rgb(168, 219, 219);
	--color-highlight: gold;
	--color-error: orangered;
	--content-width: 80vw;
	--border-radius: 0.3rem;
	--glow-color: yellow;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html {
	font-size: 100%;
}

body {
	font-size: 1rem;
	color: var(--color-primary);
	font-family: sans-serif;
	line-height: 1.2rem;
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('../img/background.jpg') no-repeat center center/cover;
}

.container__main {
	position: relative;
	height: 100vh;
	bottom: 0;
	width: 100%;
}

.sliders {
	height: 100%;
	width: var(--content-width);
	position: relative;
	overflow: hidden;
}

.slide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 1s;
}

.slider__btn {
	position: absolute;
	top: 50vh;
	z-index: 10;
	border: none;
	background: rgba(255, 255, 255, 0.7);
	font-family: inherit;
	color: #333;
	border-radius: 50%;
	height: 5.5vw;
	width: 5.5vw;
	font-size: 3vw;
	cursor: pointer;
	transition: all 1s ease-in;
}

.slider__btn:hover {
	background-color: var(--color-primary-light);
	opacity: 0.7;
}

.slider__btn--left {
	left: 3%;
	transform: translate(-50%, -50%);
}

.slider__btn--right {
	right: 3%;
	transform: translate(50%, -50%);
}

/* General format for each section */
.section {
	box-shadow: 0 0 0.25rem;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: var(--border-radius);
	text-align: center;
	padding: 5vh 3vw;
	width: 70vh;
	overflow: auto;
}

h2 {
	font-size: 2rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	text-align: center;
}

.error {
	outline: 1px solid var(--color-error);
}

.passed {
	background-color: var(--color-secondary);
}

.active {
	border-bottom: 0.2rem var(--color-secondary-light) solid;
}


/* navbar */
.nav {
	font-size: 5rem;
	top: 0;
	width: 100vw;
	background-color: var(--color-primary);
	color: #fff;
	opacity: 0.5;
}

.nav h1,
.nav ul {
	margin-bottom: 0;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
}

.nav ul {
	font-size: 2vh;
}

.container__navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	/* height: 100%; */
	width: var(--content-width)
}

.container__navbar a {
	color: #fff;
}

.nav__links {
	display: flex;
	align-items: center;
	column-gap: 2vw;
	font-size: 1.2rem;
}

.nav__link {
	padding-right: 0;
}



/* ======== */
/* About Me */
/* ======== */
.about-me {
	width: 70%
}


.about-me__name--family {
	color: teal;
}

.statement {
	margin: 3vw auto 3vw auto;
}


.fab {
	font-size: 2vw;
	color: grey;
	border-radius: 50%;
	transition: all 0.5s ease-out;
}


.fab:hover {
	font-size: 3rem;
	color: var(--color-secondary);
	transform: translateY(-10px);
	cursor: pointer;
}

.contact-link:hover {
	transform: translateY(-0.3rem);
	transition: all 0.5s ease-out;
}

.contact-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 2vw;
}

.about-me__contact-icons {
	font-size: 4vw;
}

.about-me__name h2 {
	font-size: 3.5vw;
}

.about-me {
	font-size: 1.5vw;
	line-height: 1.5vw;
}

/* ========= */
/* Education */
/* ========= */
.education {
	width: 70vw;
}

.card {
	margin: 0 auto;
	width: 15vw;
	text-align: center;
}

/* Changing color effect */
.card {
	border: 0;
	border-radius: 3vw var(--border-radius);
	padding: 2rem 0;
	color: #fff;
	background-color: lightgrey;
	background: linear-gradient(to left, lightgrey 50%, teal 50%);
	background-size: 200%;
	background-position: right;
	transition: background-position 0.5s ease-out;
	min-width: 120px;
}

.card:hover {
	background-position: left;
}

.card-icon {
	margin: 0 1em;
}

.card-icon i {
	font-size: 2rem;
}

.card-title {
	font-size: 2vh;
	font-weight: 600;
	margin: 1rem 0;
}

.card-text {
	text-align: center;
	font-size: 1.7vh;
	line-height: 1.7vh;
}

/* ========= */
/* Expertise */
/* ========= */
.expertise {
	max-height: 700px;
	min-height: 500px;
	height: 80vh;
	width: 80vw;
	max-width: 1250px;
	padding: 0;
}

.expertise_img {
	width: auto;
	height: 100%;
	background: url('../img/expertise_grey.png') no-repeat center/contain;
	transition: all 1s ease-out;
}

.expertise_img:hover {
	background-image: url('../img/expertise_teal.png');
}


/* --------------- */
/* Career Timeline */
/* --------------- */
#career-timeline {
	margin: 0;
	padding-top: 15vh;
	padding-bottom: 10vh;
	width: 95%
}


/* Footer */
footer {
	width: 100%;
	opacity: 80%;
	font-size: 1.3vw;
}

.container__footer {
	background-color: var(--color-primary);
	color: #fff;
	padding-top: 1vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	row-gap: 0.5vh;
}

.footer__middle {
	background-color: var(--color-primary);
	color: #fff;
	padding-top: 1vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 0.5vh;
}

.footer__links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer__copyright {
	margin-bottom: 1vh;
	font-size: 1vh;
}


/* Music Bar */
.music-container {
	background-color: var(--color-primary-light);
	border-radius: 15px;
	/* box-shadow: 0 1vh 1vh 0 rgba(252, 169, 169, 0.3); */
	/* box-shadow: 0 1vh 1vh 0 rgba(255, 255, 255, 0.3); */
	display: flex;
	padding: 0 2vh;
	position: relative;
	margin: 0;
	z-index: 10;
}

.img-container {
	position: relative;
	width: 110px;
}

.img-container::after {
	content: '';
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translate(-50%, 40%);
}

.img-container img {
	border-radius: 50%;
	object-fit: cover;
	height: 110px;
	width: inherit;
	position: absolute;
	bottom: 0px;
	left: 0;
	animation: rotate 7s linear infinite;
	animation-play-state: paused;
}

.music-container.play .img-container img {
	animation-play-state: running;
}

@keyframes rotate {
	from {
		transform: rotate(0deg)
	}

	to {
		transform: rotate(360deg)
	}
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.action-btn {
	background-color: var(--color-primary-light);
	border: 0;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	padding: 10px;
	margin: 0 20px;
}

.action-btn.action-btn-big {
	color: #fff;
	font-size: 30px;
}

.music-info {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 1rem 1rem 0 0;
	position: absolute;
	top: 0;
	left: 20px;
	width: calc(100% - 40px);
	padding: 10px 10px 10px 150px;
	opacity: 0;
	transform: translateY(0%);
	transition: transform 0.3s ease-in, opacity 0.3s ease-in;
	z-index: 0;
}

.music-info h4 {
	font-size: 1.5vh;
}

.music-container.play .music-info {
	opacity: 1;
	transform: translateY(-100%);
}

.progress-container {
	background: #fff;
	border-radius: 5px;
	cursor: pointer;
	margin: 0.5vh 0;
	height: 4px;
	width: 100%;
}

.progress {
	background-color: #fe8daa;
	border-radius: 5px;
	height: 100%;
	width: 0%;
	transition: width 0.1s linear;
}



@media (max-width: 1000px) {
	body {
		font-size: 0.7rem;
	}

	.nav {
		height: auto;
		width: 100%;
	}

	.active {
		border-bottom: none;
		background: var(--color-secondary);
	}

	.section {
		padding-top: 3;
		padding-bottom: 3vh;
	}

	.container__navbar {
		padding-top: 1vh;
		padding-bottom: 1vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		row-gap: 0.7vw;
		column-gap: 0;
		width: var(--content-width);
	}

	.nav__name {
		padding: 0;
		margin: 0;
	}

	.nav__links {
		flex-direction: column;
		row-gap: 0.7vw;
		justify-content: space-between;
		align-items: center;
		padding-left: 0;
	}

	.nav h1 {
		font-size: 4vw;
	}

	.nav ul {
		font-size: 3vw;
	}

	.contact-icons {
		column-gap: 2rem;
	}

	.about-me {
		width: 80vw;
	}

	.about-me__contact-icons {
		font-size: 4vh;
	}

	.about-me__name h2 {
		font-size: 3.5vh;
	}

	.about-me {
		font-size: 1.5vh;
		line-height: 1.5vh;
	}

	.expertise {
		height: 70%;
	}

	.card-title,
	.card-text {
		font-size: .8rem;
	}

	/* --------------- */
	/* Career Timeline */
	/* --------------- */
	#career-timeline {
		margin: 0;
		padding: 2vh 0;
		width: 95%
	}
}