<section id="about-me" class="section about-me resume">
  <div class="section-container">
    <div class="about-me__name">
      <h2>
        Son
        <span class="about-me__name--family">Pham</span>
      </h2>
      <div class="about-me__contact">
        South Perth, Western Australia | +61 439 022 252 |
        son.pham2@bakerhughes.com
      </div>
    </div>

    <div class="statement">
      <p>
        A team-oriented, responsible, diligent, quick-learning, creative, and
        adaptable employee.
      </p>
      <p>
        I enjoy automating processes and developing tools for myself,
        colleagues, and customers to boost productivity, efficiency, and save
        both time and costs.
      </p>
    </div>

    <div class="contact-icons">
      <div class="contact-link">
        <a href="https://www.linkedin.com/in/son-n-pham/" target="_blank">
          <i class="fab fa-linkedin about-me__contact-icons"></i>
        </a>
      </div>
      <div class="contact-link">
        <a href="https://github.com/son-n-pham" target="_blank">
          <i class="fab fa-github about-me__contact-icons"></i>
        </a>
      </div>
      <div class="contact-link">
        <a href="https://hub.docker.com/u/phamsonn" target="_blank">
          <i class="fab fa-docker about-me__contact-icons"></i>
        </a>
      </div>
    </div>
  </div>
</section>
