<section id="education" class="section education resume">
  <div class="card-group justify-content-center">
    <div class="col">
      <div class="card" style="max-width: 18rem">
        <div class="card-icon">
          <img src="img/edu_HCMUT.png" class="card-img-top" alt="DHBK" />
        </div>
        <div class="card-body">
          <h5 class="card-title">HCMC University of Technology</h5>
          <p class="card-text">BSc. Petroleum Geology (2000-2005)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="max-width: 18rem">
        <div class="card-icon">
          <img src="img/edu_UWA.jpg" class="card-img-top" alt="uwa" />
        </div>
        <div class="card-body">
          <h5 class="card-title">University of Western Australia</h5>
          <p class="card-text">
            Master of Information Technology (2021 - 2023)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
